.backgroundContainer {
  min-height: 100vh;
  padding: 120px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.backgroundImage {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/moonlit-lake.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(1);
  z-index: -1;
}

.overlay {
  display: none;
} 